const path = require('path');

module.exports = {
  'config': path.resolve('config', 'config.js'),
  'models-path': path.resolve('app', 'models'),
  'seeders-path': path.resolve('Database', 'seeders'),
  'migrations-path': path.resolve('Database', 'migrations')
};